*.pyc
*.db
*.log
*.pid
*.sock
*.prof
*.cprof
*.cmd
*.sh
*.txt
*.sqlite3
*.code-workspace
*.rdb
.idea
.vscode
.env
.test.env
.python-version
.pytest_cache
__pycache__/*
env/
media/
static/
/htmlcov/
